
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #f5f5f5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #55555582;
    font-weight: bolder;
}


.content {
    padding: 10px;
    margin-bottom: 0px;
}

.content h2 {
    padding-top: 20px;
  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-description {
    flex-basis: calc(50% - 10px);
   
}

.about-photo {
    flex-basis: calc(50% - 0px);
    text-align: right;
}

.about-photo img {
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#logo {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#logo img {
    width: 40px; 
    height: 40px; 
    margin-right: 20px; 
}

.resume-link {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    text-align: right;
}

.resume-button {
    padding: 10px 20px;
    background-color: #191a1b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 1s ease;
}
.resume-button:hover {
    background-color: #83adc9; 
    font-weight: bolder;
}

.education-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.education-item {
    margin-top: 20px;
    flex-basis: calc(30% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.education-item:hover {
    transform: translateY(-5px);
}

.education-item h3 {
    margin-bottom: 10px;
}
.education-item h3,
.education-item h4,
.education-item p {
    margin-bottom: 10px; 
}


.skills-list {
    margin-top: 20px;
    list-style: none;
    padding-bottom: 100px;
}

.skills-list li {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.skills-list li i {
    margin-right: 10px;
}

.skills-list li:hover {
    font-size:17px;
    font-weight: bolder;
    background-color: #e0e0e0;
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}


.projects-container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    flex-basis: calc(48% - 20px); /* Adjust the width and margins as needed */
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.221);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project h3 {
    margin-bottom: 10px;
    color: #0b0b0b;
}

.project p {
    line-height: 1.6;
}

#contact{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 250px;

    
}
#contact h3{
    font-weight: bolder;
    font-weight: bolder; 
    text-align: left; 
    padding-left: 180px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#text, #email, #message {
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    background-color:black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color:rgb(222, 211, 211);
    color: black;
    transition-duration: 0.4s;
  
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}
